svg {
    width: 20%;
  }
  
  .bulldozer__svg {
      width: 60vw;
      aspect-ratio: 1255 / 672;
      position: absolute;
      z-index: 2;
      bottom: 0;
      fill: #DBBB6B; /* V1 */
      /* left: -100vw; */
    }
  
  .bulldozer--active {
    animation: bulldozerDrive 7s linear forwards;
  }
    
    .bulldozer__group--pipe {
      animation: pipeShake 0.5s linear infinite;
      fill: #6E707C;
    }
  
    .bulldozer__group--lift {
      animation: rocking 0.5s alternate infinite;
    }
  
    .bulldozer__group--body {
      animation: upDown 0.5s alternate infinite;
    }
  
    .bulldozer__yellow-light {
    fill: #EBCA71;
    }

    .bulldozer__yellow-mid {
    fill: #C1A35E;
    }

    .bulldozer__yellow-dark {
    fill: #947B4A;
    }
    
    .bulldozer__grey-light {
    fill: #B1B7C9;
    }

    .bulldozer__grey-mid {
    fill: #8B8F99;
    }

    .bulldozer__grey-dark {
    fill: #6E707C;
        }

    .bulldozer__grey-xdark {
    fill: #5F6269;
    }

  @keyframes bulldozerDrive {
    100% {
      left: 200%;
    }
  }
  
  @keyframes rocking {
      from {
          transform: rotate(0) translateY(-30px);
      }
      to {
          transform: rotate(2deg) translateY(-40px);
      }
  }
  
  @keyframes upDown {
      from {
          transform: translateY(0);
      }
      to {
          transform: translateY(10px);
      }
  }
  
  @keyframes pipeShake {
      0%,
      50%,
      100% {
          transform: translateX(0);
      }
      25% {
          transform: translateX(2px);
      }
      75% {
          transform: translateX(-2px);
      }
  }
  
  @keyframes rotateWheel {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
  }

  .bulldozer__group--wheel {
    transform-origin: center;
    animation: rotateWheel 0.8s infinite;
    transform-box: fill-box;
    fill: #B1B7C9;
    stroke-width: 4;
    stroke: #8B8F99;
  }