// default styling
* {
    box-sizing: border-box;
    margin: 0;
  }

  html {
    font-size: 1vw;
  }

  
  body::-webkit-scrollbar {
    display: none;
  }

  .scene {
    position: relative;
    width: 100vw;
    height: calc(100vw * 9 / 16);
  }

  svg {
    position: absolute;
    bottom: 0;
  }
  
  .scene--1 {
    background-color: #E8ECEA;
  }
  