@keyframes legSet1 {
    0%, 60%, 100% { transform: skew(0deg); }
   40% { transform: skew(-10deg); }
    80% { transform: skew(10deg); }
 }
 
 @keyframes legSet2 {
    0%, 60%, 100% { transform: skew(0deg); }
   40% { transform: skew(10deg); }
    80% { transform: skew(-10deg); }
   }
 
 
   
   #leg-set1 {
      transform-origin: center;
    animation: legSet1 1s infinite;
   }
   
   #leg-set2 {
      transform-origin: center;
     animation: legSet2 1s infinite;
   }