@use "animation.scss";

// default styling
* {
    box-sizing: border-box;
    margin: 0;
  }

  html {
    font-size: 1vw;
  }

  body::-webkit-scrollbar {
    display: none;
  }

  /*
  .scene__container--1 {
    height: 100vh;
   background-color: 287561;
  } */
  
  .scene {
    position: relative;
    width: 100vw;
    height: 100vh;
    // height: calc(100vw * 9 / 16);
  }
  
  .scene--1 {
    background-color: #E8ECEA;
  }

  svg {
    position: absolute;
    bottom: 0;
  }
  
  .intro__headline {
    font-size: 4.8rem;
    font-family: "Amatic SC", sans-serif;
    color: #E8ECEA;
    position: absolute;
    left: 50%;
    bottom: 20%;
    transform: translate(-50%, -50%);
    font-weight: bold;
  }

  #deer {
    position: absolute;
    bottom: 12%;
    right: 10%;
    width: 10%;
}


#forest-intro-trees {
  position: absolute;
  left: -11%;
  bottom: 4.2%;
  width: 118%;
}

// custom cursor (add later)
/* .cursor {
  cursor: url(../svgs/green-circle.svg) 15 15, move;
} */
