@import url("https://fonts.googleapis.com/css2?family=Acme&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Acme&family=Amatic+SC:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@keyframes legSetOne {
  0%, 60%, 100% {
    transform: skew(0deg);
  }
  40% {
    transform: skew(-10deg);
  }
  80% {
    transform: skew(10deg);
  }
}
@keyframes legSetTwo {
  0%, 60%, 100% {
    transform: skew(0deg);
  }
  40% {
    transform: skew(10deg);
  }
  80% {
    transform: skew(-10deg);
  }
}
.deer__set--one {
  transform-origin: center;
  animation: legSetOne 1s infinite;
}

.deer__set--two {
  transform-origin: center;
  animation: legSetTwo 1s infinite;
}

@keyframes gasLeft {
  0% {
    transform: translateX(-20%);
    opacity: 1;
  }
  100% {
    transform: translateX(0);
    opacity: 0;
  }
}
@keyframes gasRight {
  0% {
    transform: translateX(20%);
    opacity: 1;
  }
  100% {
    transform: translateX(0);
    opacity: 0;
  }
}
.gas-forest--left {
  animation: gasLeft 2s infinite ease-in-out alternate;
}

.gas-forest--right {
  animation: gasRight 2s infinite ease-in-out alternate;
}

@keyframes rocking {
  from {
    transform: rotate(0) translateY(-20px);
  }
  to {
    transform: rotate(2deg) translateY(-30px);
  }
}
@keyframes upDown {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(10px);
  }
}
@keyframes pipeShake {
  0%, 50%, 100% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(2px);
  }
  75% {
    transform: translateX(-2px);
  }
}
* {
  box-sizing: border-box;
  margin: 0;
}

html {
  font-size: 1vw;
  font-family: "Acme";
  cursor: url(../../svgs/circle.svg) 15 15, move;
}

body {
  height: 100vh;
  user-select: none;
}

body::-webkit-scrollbar {
  display: none;
}

.scene {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  /*&__two {
    background-color: #bcc1d0;
  }*/
}
.scene__one {
  background-color: #e8ecea;
}

.scene__fact-box {
  font-size: 1.5rem;
  position: absolute;
  left: 50%;
  bottom: 25vw;
  padding: 1.5rem;
  transform: translate(-50%, 50%);
  width: 40ch;
}
.scene__fact-box--forest {
  border: 0.5rem solid #1e5e4b;
  border-radius: 2%;
  background-color: #e8ecea;
}

.scene__svg {
  position: absolute;
  bottom: 0;
}

.forest-intro__patch-one {
  fill: #1e5e4b;
}

.forest-intro__patch-two {
  fill: #287561;
}

.forest-intro__patch-three {
  fill: #4e9b85;
}

.forest-intro__patch-four {
  fill: #8bb6a9;
}

.intro__headline {
  font-size: 4.8rem;
  font-family: "Amatic SC", sans-serif;
  color: #e8ecea;
  position: absolute;
  left: 50%;
  bottom: 10vw;
  transform: translate(-50%, -50%);
  font-weight: bold;
}

#deer {
  bottom: 6vw;
  right: 10%;
  width: 10%;
  fill: #1e5e4b;
}

.forest-intro__trees {
  bottom: 2vw;
  fill: #1e5e4b;
}

.bulldozer {
  width: 60vw;
  left: -60%;
  fill: #DBBB6B;
}
.bulldozer__pipe {
  animation: pipeShake 1s linear infinite;
  fill: #6E707C;
}
.bulldozer__pipe--light {
  fill: #B1B7C9;
}
.bulldozer__suspension {
  animation: rocking 1s alternate infinite steps(20, end);
}
.bulldozer__base {
  animation: upDown 1s alternate infinite;
}
.bulldozer__wheel {
  fill: #B1B7C9;
  stroke-miterlimit: 10;
}
.bulldozer__wheel--outer-circle {
  stroke: #6E707C;
}
.bulldozer__wheel--inner-circle {
  stroke: #8B8F99;
}
.bulldozer--main-light {
  fill: #EBCA71;
}
.bulldozer--main-mid {
  fill: #C1A35E;
}

/*
@keyframes bulldozerDrive {
  100%{
    left: 200%;
  }
*//*# sourceMappingURL=first.css.map */