// walking animation for deer
@keyframes legSetOne {
    0%,
    60%,
    100% {
        transform: skew(0deg);
    }
    40% {
        transform: skew(-10deg);
    }
    80% {
        transform: skew(10deg);
    }
}

@keyframes legSetTwo {
    0%,
    60%,
    100% {
        transform: skew(0deg);
    }
    40% {
        transform: skew(10deg);
    }
    80% {
        transform: skew(-10deg);
    }
}

.deer__set--one {
    transform-origin: center;
    animation: legSetOne 1s infinite;
}

.deer__set--two {
    transform-origin: center;
    animation: legSetTwo 1s infinite;
}

// gas (forest) animation)
@keyframes gasLeft {
    0% {
        transform: translateX(-20%);
        opacity: 1;
    }
    100% {
        transform: translateX(0);
        opacity: 0;
    }
}

@keyframes gasRight {
    0% {
        transform: translateX(20%);
        opacity: 1;
    }
    100% {
        transform: translateX(0);
        opacity: 0;
    }
}

.gas-forest--left {
    animation: gasLeft 2s infinite ease-in-out alternate;
}

.gas-forest--right {
    animation: gasRight 2s infinite ease-in-out alternate;
}

// bulldozer animation
@keyframes rocking {
    from {
        transform: rotate(0) translateY(-20px);
    }
    to {
        transform: rotate(2deg) translateY(-30px);
    }
}

@keyframes upDown {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(10px);
    }
}

@keyframes pipeShake {
    0%,
    50%,
    100% {
        transform: translateX(0);
    }
    25% {
        transform: translateX(2px);
    }
    75% {
        transform: translateX(-2px);
    }
}


