// walking animation for deer
@keyframes legSet1 {
    0%, 60%, 100% { transform: skew(0deg); }
   40% { transform: skew(-10deg); }
    80% { transform: skew(10deg); }
 }
 
 @keyframes legSet2 {
    0%, 60%, 100% { transform: skew(0deg); }
   40% { transform: skew(10deg); }
    80% { transform: skew(-10deg); }
   }
 
   #leg-set1 {
    transform-origin: center;
    animation: legSet1 1s infinite;
   }
   
   #leg-set2 {
    transform-origin: center;
    animation: legSet2 1s infinite;
   }

@keyframes gas {
    0% { opacity: 1; };
    100% { opacity: 0; };
}

#gas_forest {
    animation: gas 2s infinite ease-in-out alternate;
}

@keyframes rotateWheel {
    from{ transform: rotate(-360deg); }
     to{ transform: rotate(360deg); }
  }
  
  .wheel-test {
   transform-origin: center;
   animation: rotateWheel 2s infinite;
  }



.bulldozer__container {
    position: relative;
    width: 100%;
    height: 100%;
}

.bz__suspension {
animation: rocking 1s alternate infinite;
}

@keyframes rocking  {
    from { transform: rotate(0) translateY(-20px); }
     to { transform: rotate(2deg) translateY(-30px); }
  }

  @keyframes upDown  {
    from { transform:translateY(0); }
     to { transform: translateY(10px); }
  }

  @keyframes pipeShake  {
    0%, 50%, 100% { transform:translateX(0); }
    25% { transform: translateX(1px); }
    75% { transform: translateX(-1px);}
  }

  .bz__base {
    animation: upDown 1s alternate infinite;
  }

  .bz__pipe {
    animation: pipeShake 1s linear infinite;
  }
  