// ranges from lighest to darkest
$forest-bg: #e8ecea;
$forest-greenV1: #8bb6a9;
$forest-greenV1_shade: #81A498; // shadow for the mountains in 'tree-growth'
$forest-greenV2: #4e9b85;
$forest-greenV3: #287561;
$forest-greenV4: #1e5e4b;

$blue-grayV1: #B1B7C9;
$blue-grayV2: #8B8F99;
$blue-grayV3: #6E707C;
$blue-grayV4: #5F6269; // only used for bulldozer

$carbon-grayV1: #8D919C;
$carbon-grayV2: #6D707C;

$city-blueV1: #232C43;

$bz-yellowV1: #EBCA71;
$bz-yellowV2: #DBBB6B;
$bz-yellowV3: #C1A35E;
$bz-yellowV4: #947B4A;