* {
  box-sizing: border-box;
  margin: 0;
}

html {
  font-size: 1vw;
  font-family: "Acme";
  cursor: url(../../svgs/circle.svg) 15 15, move;
}

body {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

body::-webkit-scrollbar {
  display: none;
}

.scene {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
.scene__three--one, .scene__three--two {
  background-color: #e8ecea;
}
.scene__three--three, .scene__three--four {
  background-color: #dfefec;
}

@keyframes forestOutroStart {
  0% {
    transform: translateY(50%);
  }
  100% {
    transform: translateY(0);
  }
}
.forest-outro {
  animation: forestOutroStart 1s linear;
}
.forest-outro__patch-four {
  fill: #8bb6a9;
}
.forest-outro__patch-three {
  fill: #4e9b85;
}
.forest-outro__patch-two {
  fill: #287561;
}
.forest-outro__patch-one {
  fill: #1e5e4b;
}

.forest-outro__button {
  position: absolute;
  z-index: 2;
  left: 50%;
  bottom: 60%;
  transform: translate(-50%, -50%);
  padding: 1% 2%;
  font-size: 1.5em;
}

svg.forest-outro__seed {
  width: 5%;
  fill: #574940;
}
svg.forest-outro__seed--one {
  right: 10%;
  bottom: 40vw;
}
svg.forest-outro__seed--two {
  left: 20%;
  bottom: 20vw;
}

.forest-outro__seed--active {
  animation: plantSeed 2s forwards;
}

@keyframes plantSeed {
  0% {
    transform: translateY(0);
  }
  20%, 40% {
    transform: translateY(220%);
  }
  60%, 70% {
    transform: translateY(216%);
  }
  70%, 80% {
    transform: translateY(210%);
  }
  80%, 90% {
    transform: translateY(202%);
  }
  90%, 100% {
    transform: translateY(192%);
  }
  50%, 100% {
    fill: #4e9b85;
  }
}
.forest-outro__seed-grow {
  animation: seedGrow 2s forwards;
}

@keyframes seedGrow {
  0%, 49% {
    d: path("M11.5 33.02c-.15 4.97-.22 7.45 1.22 9.27 1.46 1.84 3.46 2.58 4.66 2.9 1.01-.42 1.12-1.53 1.46-2.47.77-2.27.29-4.35-1.4-6.19-1.49-1.62-2.93-3.6-4.71-4.86-.2-.1-.48-.21-.73-.1-.45.2-.5 1.02-.51 1.46Z");
  }
  50%, 60% {
    d: path("m19.5 43.3-5.1 2-1.8-4 1.8-17.7.1-6.9c-1.2-1.8-2-3.8-2-6l-.1-.7-.1-1.5V7.3l1 2 .6 1.5.7 3.7v-.7l.5-.6.2-1.1 1.2-3.6.6 1.4.2 1.3-.5 4.7-1 2.8 3.7 24.6Z");
  }
  60%, 70% {
    d: path("m19.6 43.3-5.2 2-1.8-4 1.8-17.7.2-7.7c-1.2-1.8-2-4-2.3-6.2l-.1-.8-.2-1.7V5.8L13.1 8l.6 1.7 1 4 .3-.4c0-.8.2-1.5.4-2.2L17 7l.6 1.6v1.5l-.7 5.3-1 2.5 3.8 25.3Z");
  }
  70%, 80% {
    d: path("M21.4 4.3v1.9l-.5 1.4-2.9 4.8-2.7 2.7 4.3 28.2-5.2 2-1.8-4 1.8-17.7.2-9.1c-2.5-1.1-4.6-2.9-6.2-5.2L8 8.6 7 7.1l-.8-1.3 2.3 1.5 1.4 1.2 4.6 5.6-.4-1.7.6-.9.6 1.1v2.1l1.6-4.5c.3-1 .9-1.9 1.6-2.6l3-3.3Z");
  }
  80%, 90% {
    d: path("M23.4 5 23 6.8c-.2.4-.4 1-.7 1.3l-3.7 4.2-3.3 2.3.4 2.8 1.2-.3-.1 1.1c0 .2-.2.4-.4.4l-.5.1 3.7 24.6-5.2 2-1.8-4 1.8-17.7.2-5.3v-3.8l-.9-1c-2.3-.6-4.6-2-6.4-3.8l-.5-.6-1.3-1.4-1-1 2.5 1 1.6 1 6 5 .1-1.2-.5-3.2c-.1-.7 0-1.4.3-2.1l.8-1.8.4 3.5v2.4l-.6.8.2 1v.9h.2l2.4-4c.5-1 1.2-1.7 2-2.4L23.4 5Z");
  }
  90%, 100% {
    d: path("m24.7 7-1 1.5-.5 1c-.4 1-1 1.9-2 2.5l-.6.4c-.6.5-1.4.8-2.1 1l-3.2 1 .4 3 .6-1h.8c.2 0 .6-.1.7.1 0 .3-.9 1.7-1 2-.3.3-.6.2-1 0l3.8 24.8-5.2 2-1.8-4 1.8-17.7.2-9-.7-.8c-2.3-.2-4.6-.5-6.6-2l-1-.6c-.5-.3-1-1-1.5-1.4l-1.1-.7 3 .1 1.6.7 6.3 3.6.1-1.5V12l-.4-2.5c-.2-1.3-1.3-3.8-.5-4.8L16.7.5l-.7 8-.4 2.4-.6 1 .2 1.2v.8l1.7-2.7c.6-.8 2.7-2.2 3.6-2.6L24.7 7Z");
  }
}
.forest-outro__text {
  padding: 1%;
}

@keyframes treeGrowthOne {
  0%, 9% {
    opacity: 0;
  }
  10%, 100% {
    opacity: 1;
  }
}
@keyframes treeGrowthTwo {
  0%, 29% {
    opacity: 0;
  }
  30%, 100% {
    opacity: 1;
  }
}
@keyframes treeGrowthThree {
  0%, 49% {
    opacity: 0;
  }
  50%, 100% {
    opacity: 1;
  }
}
.tree-growth__stage--one {
  animation: treeGrowthOne 7s linear;
}
.tree-growth__stage--two {
  animation: treeGrowthTwo 7s linear;
}
.tree-growth__stage--three {
  animation: treeGrowthThree 7s linear;
}

.tree-growth__dividers {
  fill: #e8ecea;
}

.tree-growth__mountain {
  fill: #8bb6a9;
}
.tree-growth__mountain-shadow {
  fill: #81A498;
}

.tree-growth__grass-base,
.tree-growth__leaves,
.tree-growth__grass-front {
  fill: #287561;
}

.tree-growth__grass-back {
  fill: #4e9b85;
}

.tree-growth__tree-base,
.tree-growth__leaves-mid {
  fill: #1e5e4b;
}

.tree-growth__tree-base--two {
  fill: url(#tree-growth__linear-gradient);
}

.tree-growth__tree-base--three {
  fill: #5C584D;
}

.tree-growth__leaves-dark {
  fill: #1C513F;
}

@keyframes leafMoveOne {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: translate(0) rotate(-5deg);
  }
}
@keyframes leafMoveTwo {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: translate(0) rotate(-2deg);
  }
}
@keyframes leafMoveThree {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: translate(0) rotate(5deg);
  }
}
@keyframes leafMoveBase {
  0% {
    transform: skew(-0.15deg);
  }
  50% {
    transform: skew(0deg);
  }
  100% {
    transform: skew(0.1deg);
  }
}
.forest-seed__mountains {
  fill: #C6DBDB;
}

.forest-seed__soil {
  fill: #967E69;
}
.forest-seed__soil-mid {
  fill: #826D5E;
}
.forest-seed__soil-dark {
  fill: #574940;
}
.forest-seed__soil-shadow {
  fill: #64554A;
}

.forest-seed__arm {
  fill: #D3BDAB;
}
.forest-seed__arm-light {
  fill: #E5D7CF;
}
.forest-seed__arm-highlight {
  fill: #DCCDC6;
}
.forest-seed__arm-shadow {
  fill: #AA9387;
}

.forest-seed__leaves svg {
  fill: #287561;
  transform-origin: center;
  width: 7%;
}

svg.forest-seed__leaf-one {
  bottom: 31.5vw;
  right: 35.5%;
  animation: leafMoveOne 1s alternate infinite;
}

svg.forest-seed__leaf-two {
  bottom: 36.5vw;
  right: 27%;
  animation: leafMoveTwo 1s alternate infinite;
}

svg.forest-seed__leaf-three {
  bottom: 31.2vw;
  right: 23%;
  animation: leafMoveThree 1s alternate infinite;
}

.forest-seed__base-top {
  width: 20%;
  fill: #1e5e4b;
  animation: leafMoveBase 1s alternate infinite;
}

.forest-seed__base-bottom {
  fill: url(#forest-seed__linear-gradient);
}

.screen__three-text {
  position: absolute;
  font-size: 3em;
  color: #232C43;
}

.forest-seed__text {
  left: 15%;
  bottom: 40%;
  width: 25ch;
}

svg.bird {
  z-index: 3;
  width: 8%;
  animation: flyAndBobAndLeft 2s linear forwards, birdUpDown 2s linear infinite;
  bottom: 37.5vw;
  left: 30%;
  fill: #c24444;
}

svg.nature-screen__tree {
  z-index: 2;
  width: 72%;
  fill: #6D5D4F;
}

.nature-screen__tree-highlight {
  fill: #967E69;
}

.nature-screen__tree-mid {
  fill: #64554A;
}

.nature-screen__tree-shadow {
  fill: #574940;
}

.nature-screen__leaves-light {
  fill: #287561;
}

@keyframes flyAndBobAndLeft {
  0% {
    transform: translate(0, 0);
  }
  15% {
    transform: translate(-40%, 10%);
  }
  30% {
    transform: translate(-80%, 5%);
  }
  45% {
    transform: translate(-120%, -10%);
  }
  58% {
    transform: translate(-160%, -5%);
  }
  59%, 60%, 100% {
    transform: translate(-165%, 0%);
  }
}
@keyframes birdUpDown {
  60%, 70% {
    transform: translate(-165%, 10%);
  }
  70%, 80% {
    transform: translate(-165%, 0%);
  }
  80%, 90% {
    transform: translate(-165%, 10%);
  }
  90%, 100% {
    transform: translate(-165%, 0%);
  }
}
.bird__wing {
  transform-origin: center;
  animation: flapWings 2s ease-in-out alternate;
  fill: #943737;
}

@keyframes flapWings {
  0% {
    transform: rotate(0);
  }
  25% {
    transform: rotate(10deg);
  }
  50% {
    transform: rotate(5deg);
  }
  75% {
    transform: rotate(-10deg);
  }
  100% {
    transform: rotate(-5deg);
  }
}
.bird__blush {
  fill: #e05b5a;
}

.bird__stomach {
  fill: #e5e0c7;
}

.bird__details {
  fill: #602526;
}

.nature-screen__leaves {
  animation: windBlow 2s ease-in-out infinite;
  fill: #1e5e4b;
}

@keyframes windBlow {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(0.5%);
  }
  100% {
    transform: translateY(0);
  }
}
.nature-screen__text {
  text-align: center;
  transform: translate(-50%, -50%);
  left: 50%;
  bottom: 26%;
  width: 25ch;
  z-index: 4;
}

.flowers {
  fill: #287561;
}

@keyframes flowerWaveOne {
  100% {
    transform: rotate(0.2deg);
  }
}
.flowers--one, .flowers--three {
  animation: flowerWaveOne 2s ease-in-out alternate infinite;
}

@keyframes flowerWaveTwo {
  100% {
    transform: rotate(-0.2deg);
  }
}
.flowers--two {
  animation: flowerWaveTwo 2s ease-in-out alternate infinite;
}

@keyframes flowerRotate {
  0% {
    transform: rotateX(-10deg) translateX(-0.1%);
  }
  50% {
    transform: rotate(0);
  }
  100% {
    transform: rotateX(10deg) translateX(0.1%);
  }
}
.flowers__bell {
  fill: #4c6aa0;
  transform-origin: center;
  animation: flowerRotate 2s ease-in-out alternate infinite;
}

.flowers__bell-shadow {
  fill: #375786;
}

.nature-screen__patch-two {
  fill: #4e9b85;
}

.nature-screen__patch-one {
  fill: #287561;
}

.nature-screen__mountains {
  fill: #C6DBDB;
}/*# sourceMappingURL=third.css.map */