* {
  box-sizing: border-box;
  margin: 0;
}

html {
  font-size: 1vw;
  font-family: "Acme";
  cursor: url(../../svgs/circle.svg) 15 15, move;
}

body {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

body::-webkit-scrollbar {
  display: none;
}

.scene {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
.scene__three--one, .scene__three--three {
  background-color: #e8ecea;
}
.scene__three--two {
  background-color: #dfefec;
}

@keyframes forestOutroStart {
  0% {
    transform: translateY(50%);
  }
  100% {
    transform: translateY(0);
  }
}
.forest-outro {
  animation: forestOutroStart 1s linear;
}
.forest-outro__patch-four {
  fill: #8bb6a9;
}
.forest-outro__patch-three {
  fill: #4e9b85;
}
.forest-outro__patch-two {
  fill: #287561;
}
.forest-outro__patch-one {
  fill: #1e5e4b;
}

@keyframes treeGrowthOne {
  0%, 9% {
    opacity: 0;
  }
  10%, 100% {
    opacity: 1;
  }
}
@keyframes treeGrowthTwo {
  0%, 29% {
    opacity: 0;
  }
  30%, 100% {
    opacity: 1;
  }
}
@keyframes treeGrowthThree {
  0%, 49% {
    opacity: 0;
  }
  50%, 100% {
    opacity: 1;
  }
}
.tree-growth__stage--one {
  animation: treeGrowthOne 7s linear;
}
.tree-growth__stage--two {
  animation: treeGrowthTwo 7s linear;
}
.tree-growth__stage--three {
  animation: treeGrowthThree 7s linear;
}

.tree-growth__dividers {
  fill: #e8ecea;
}

.tree-growth__mountain {
  fill: #8bb6a9;
}
.tree-growth__mountain-shadow {
  fill: #81A498;
}

.tree-growth__grass-base,
.tree-growth__leaves,
.tree-growth__grass-front {
  fill: #287561;
}

.tree-growth__grass-back {
  fill: #4e9b85;
}

.tree-growth__tree-base,
.tree-growth__leaves-mid {
  fill: #1e5e4b;
}

.tree-growth__tree-base--two {
  fill: url(#linear-gradient);
}

.tree-growth__tree-base--three {
  fill: #5C584D;
}

.tree-growth__leaves-dark {
  fill: #1C513F;
}

@keyframes leafMoveLeft {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: translate(0) rotate(-5deg);
  }
}
@keyframes leafMoveLeft2 {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: translate(0) rotate(-2deg);
  }
}
@keyframes leafMoveRight {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: translate(0) rotate(5deg);
  }
}
@keyframes leafMoveRight2 {
  0% {
    transform: skew(-0.15deg);
  }
  50% {
    transform: skew(0deg);
  }
  100% {
    transform: skew(0.03deg);
  }
}
.forest-seed__mountains {
  fill: #C6DBDB;
}

.forest-seed__soil {
  fill: #967E69;
}
.forest-seed__soil-mid {
  fill: #826D5E;
}
.forest-seed__soil-dark {
  fill: #64554A;
}

.forest-seed__leaves svg {
  fill: #287561;
  transform-origin: center;
  width: 10%;
}

svg.forest-seed__leaf-one {
  bottom: 31vw;
  right: 38%;
  animation: leafMoveLeft 1s alternate infinite;
}

svg.forest-seed__leaf-two {
  bottom: 36.5vw;
  right: 26%;
  animation: leafMoveLeft2 1s alternate infinite;
}

svg.forest-seed__leaf-three {
  bottom: 30vw;
  right: 22%;
  animation: leafMoveRight 1s alternate infinite;
}

.forest-seed__tree-base {
  width: 20%;
  animation: leafMoveRight2 1s alternate ease-in-out infinite;
}/*# sourceMappingURL=third.css.map */