@use "colors.scss";

* {
  box-sizing: border-box;
  margin: 0;
}

html {
  font-size: 1vw;
  font-family: "Acme";
  cursor: url(../../svgs/circle.svg) 15 15, move;
}

body {
  user-select: none; // make text non-selectable
}

body::-webkit-scrollbar {
  display: none;
}

.scene {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;

  &__three--one,
  &__three--three {
    background-color: colors.$forest-bg;
  }

  &__three--two {
    background-color: #dfefec;
  }
}

@keyframes forestOutroStart {
  0% {
    transform: translateY(50%);
  }

  100% {
    transform: translateY(0);
  }
}

.forest-outro {
  animation: forestOutroStart 1s linear;
  &__patch-four {
    fill: colors.$forest-greenV1;
  }

  &__patch-three {
    fill: colors.$forest-greenV2;
  }

  &__patch-two {
    fill: colors.$forest-greenV3;
  }

  &__patch-one {
    fill: colors.$forest-greenV4;
  }
}

@keyframes treeGrowthOne {
  0%,
  9% {
    opacity: 0;
  }

  10%,
  100% {
    opacity: 1;
  }
}

@keyframes treeGrowthTwo {
  0%,
  29% {
    opacity: 0;
  }

  30%,
  100% {
    opacity: 1;
  }
}

@keyframes treeGrowthThree {
  0%,
  49% {
    opacity: 0;
  }

  50%,
  100% {
    opacity: 1;
  }
}

.tree-growth {
  &__stage--one {
    animation: treeGrowthOne 7s linear;
  }

  &__stage--two {
    animation: treeGrowthTwo 7s linear;
  }

  &__stage--three {
    animation: treeGrowthThree 7s linear;
  }
}

.tree-growth__dividers {
  fill: colors.$forest-bg;
}

.tree-growth__mountain {
  fill: colors.$forest-greenV1;

  &-shadow {
    fill: colors.$forest-greenV1_shade;
  }
}

.tree-growth__grass-base,
.tree-growth__leaves,
.tree-growth__grass-front {
  fill: colors.$forest-greenV3;
}

.tree-growth__grass-back {
  fill: colors.$forest-greenV2;
}

.tree-growth__tree-base,
.tree-growth__leaves-mid {
  fill: colors.$forest-greenV4;
}

.tree-growth__tree-base--two {
  fill: url(#tree-growth__linear-gradient);
}

.tree-growth__tree-base--three {
  fill: colors.$dark-woodV1;
}

.tree-growth__leaves-dark {
  fill: colors.$forest-greenV5;
}

@keyframes leafMoveOne {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: translate(0) rotate(-5deg);
  }
}

@keyframes leafMoveTwo {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: translate(0) rotate(-2deg);
  }
}

@keyframes leafMoveThree {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: translate(0) rotate(5deg);
  }
}

@keyframes leafMoveBase {
  0% {
    transform: skew(-0.15deg);
  }

  50% {
    transform: skew(0deg);
  }

  100% {
    transform: skew(0.1deg);
  }
}

.forest-seed__mountains {
  fill: colors.$sky-blueV1;
}

.forest-seed__soil {
  fill: colors.$earth-brownV1;

  &-mid {
    fill: colors.$earth-brownV2;
  }

  &-dark {
    fill: colors.$earth-brownV4;
  }

  &-shadow {
    fill: colors.$earth-brownV3;
  }
}

.forest-seed__arm {
  fill: colors.$pale-skinV3;

  &-light {
    fill: colors.$pale-skinV1;
  }

  &-highlight {
    fill: colors.$pale-skinV2;
  }

  &-shadow {
    fill: colors.$pale-skinV4;
  }
}

.forest-seed__leaves svg {
  fill: colors.$forest-greenV3;
  transform-origin: center;
  width: 7%;
}

svg.forest-seed__leaf-one {
  bottom: 31.5vw;
  right: 35.5%;
  animation: leafMoveOne 1s alternate infinite;
}

svg.forest-seed__leaf-two {
  bottom: 36.5vw;
  right: 27%;
  animation: leafMoveTwo 1s alternate infinite;
}

svg.forest-seed__leaf-three {
  bottom: 31.2vw;
  right: 23%;
  animation: leafMoveThree 1s alternate infinite;
}

.forest-seed__base-top {
  width: 20%;
  fill: colors.$forest-greenV4;
  animation: leafMoveBase 1s alternate infinite;
}

.forest-seed__base-bottom {
fill: url(#forest-seed__linear-gradient);
}

.forest-seed__text {
 position: absolute;
 left: 15%;
 bottom: 35%;
 font-size: 3em;
 color: colors.$city-blueV1;
 width: 25ch;
}